<table id="MaterialTable" class="table table-striped table-bordered table-hover table-rwd">
    @*<thead >
    <tr class="tr-only-hide">
        <th>MaterialName</th>
        <th>Titanium</th>
        <th>Silicon</th>
        <th>Carbon</th>
                    
    </tr>
    </thead>*@
</table>